/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

html {
    overflow-y: scroll; /* Keep the scrollbar always visible */
}

body, html {
    display: block;
    height: 100%;  
}

/* STILE HEADER */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    height: 50px;
}

.logo {
    display: inline-block;
    height: auto; 
}

a.logo-link {
    display: inline-block;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* STILE FOOTER */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: small;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
}

/* SEZIONE HERO */

.hero {
    position: relative;
    min-height: 400px; /* Make the hero section flexible */
    background-image: url(/img/Searchbar-bg.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full height for the background */
    background-color: rgba(0, 204, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    text-align: center;
    max-width: 600px;
    margin-top: 50px; /* Ensure spacing from the top */
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-content input {
    padding: 10px;
    width: 100%;
    max-width: 800px;
    border: none;
    border-radius: 5px;
}
/* BARRA DI RICERCA - HOMEPAGE */

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* SLIDER IMMAGINI*/

.carousel-item img{
    height: 400px;
    width: auto;
}

-----------------------------------------------------------------------------------------------------------------------
/* STILI DELLE PAGINE -AUTORI E -FILM */
-----------------------------------------------------------------------------------------------------------------------

/* Film Listing Section */

.movie-details-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.movie-image {
    flex: 0 0 auto;
    margin-right: 15px;
    margin-bottom: 30px;
}

.movie-image img {
    max-width: 100%;
    height: auto;
    width: 300px;
}

.movie-description {
    max-width: 600px;
    text-align: left;
}

.movie-description h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.movie-description button {
    margin-top: auto;
    align-self: flex-start;
}

/* BIOGRAFIA AUTORI*/

.author-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.author-image {
    margin-right: 20px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.author-info h3 {
    padding-bottom: 10px;
}

.author-info p {
    margin-bottom: 5px;
}
